main{
    max-width: 600px;
    margin: auto;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    
}

label{
    margin: auto auto 1rem 1rem;
}

input{
    padding: 0.5rem;
}


button{
    margin: auto
}